body {
  font-family: sans-serif;
}
#modal {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
#button {
  cursor: pointer;
  margin-top: 190px;
  margin-left: 120px;
}

#butt {
  display: none;
}

#open {
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark background */
  display: none;
  z-index: 1000;
}
